<div class="d-flex justify-content-between">
	<div class="d-flex">
		<% if liker && liker.profile_picture.attached? %>
			<%= image_tag liker.profile_picture, class: "img-thumbnail rounded-circle profile-image" %>
		<% else %>
			<%= image_tag "user_no_pc.png", class: "img-thumbnail rounded-circle profile-image" %>
		<% end %>
		<div class="d-flex flex-column mx-3 justify-content-center">
			<%= link_to liker, class: "link-user" do %>
				<small class="fw-bold overflow-hidden wrap" style="text-overflow: ellipsis; white-space: nowrap; max-width: 10rem">
					<%= liker.username %>
				</small>
			<% end %>
		</div>
	</div>

	<% if liker != current_user %>
		<%= render "layouts/shared/follow_state", user: liker %>
	<% end %>
</div>